
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Jumbotron Template for Bootstrap</title>
    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">-->
    <!-- since our application know all the static files are in /public folder we do not need to specify public in the above link of stylesheet-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/custom.css">
  </head>

  <body>
    <% include ./partials/navbar %>
    <div class="container">

      <%- body -%>

    </div> <!-- /container -->

    <% include ./partials/footer %>
  </body>
</html>
